{% extends "registration/base_login.html" %}


{% block content %}

    <style xmlns="http://www.w3.org/1999/html">
        .plane {
            margin-top: 10px;
        }

    .planee {
            margin-bottom: 20px;
            font-size: 17px;
            font-family: "Roboto";
        }
    </style>

{#    <div class="form-control">#}

{#        <h2>Enter Your Username And Password To Login</h2>#}
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <h1>Welcome To Local Library</h1>
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="form-group">

                <br>
                <label class="planee">Username: </label>
                <td class="form-group">{{ form.username }}</td>
{#                <input class="planee" type="text" name="{{ form.username.name }}">#}
                <br>

                <label class="planee">Password: </label>
{#                <input class="planee" type="text" name="{{ form.password }}" >#}
                <td>{{ form.password }}</td>
                <br>

                <input type = "submit" class = "btn btn-primary" value = "  Login  ">
                <input class="form-control" type="hidden" name="next" value="{{ next }}" />

            </div>
        </form>
{#    </div>#}

    {# Assumes you setup the password_reset view in your URLconf #}
{#    <p><a href="{% url 'index' %}">Lost password?</a></p>#}
    <p><span>Do have an account? </span><a href="{% url 'setup' %}">Create an account</a></p>

{#</div>#}
{% endblock %}


