{% extends "registration/base_login.html" %}


{% block content %}

    <style xmlns="http://www.w3.org/1999/html">
        .plane {
            margin-top: 10px;
        }

    .planee {
            margin-bottom: 20px;
            font-size: 17px;
            font-family: "Roboto";
        }
    </style>

    <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
{#    {{ form.as_p }}#}
      {% for field in form %}
      <p>
        {{ field.label_tag }} <span>{{ field }}</span>
{#        {% if field.help_text %}#}
{#          <small style="color: grey">{{ field.help_text }}</small>#}
{#        {% endif %}#}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <input type = "submit" class = "btn btn-primary" value = " Sign Up ">
  </form>

{#</div>#}
{% endblock %}
