/*.sidebar-nav {*/
    /*margin-top: 20px;*/
    /*padding: 0;*/
    /*list-style: none;*/
/*}*/

.formin{
    padding-left: 50px;
    padding-right: 20px;
    color: brown;
    background: #491217;
    font-size: medium;
}