{% extends "base_generic.html" %}

{% block header %}
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Some Of The Most Enchanting Books</span>
    <span class="site-heading-lower">Library Books</span>
  </h1>
{% endblock %}

{% block content %}
  <h1>List Of Books</h1>
  {% if book_list %}
  <ul style="list-style: none">
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}